[Desktop Entry]
Name=keepersecurity vault
Comment=keepersecurity vault
GenericName=keepersecurity vault
Exec=/app/start.sh
Icon=com.keepersecurity.vault
Type=Application
StartupNotify=false
Terminal=false
Categories=Utility;
